{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    <span style="display: none" id="yearHidden">{{ year }}</span>
    <span style="display: none" id="monthHidden">{{ month|date:'m' }}</span>
    <div class="wholecalendar">
        {{ calendar|safe }}
    </div>
    <div class="dialog" id="dialog" title="Schedule an Appointment">
        <div id="dialogtwo">
            <div>
                {% for t in times %}
                    <div id="rowtwo" class="rowtwo">{{ t }}</div>
                {% endfor %}
            </div>
            <div id="columnthree" title="Select a Time">
{#                {% for hr in h %}#}
{#                    {% for min in m %}#}
{#                        <div id="rowthree" class="rowthree" data-time="{{ hr }}:{{ min }}" title="Select Times"></div>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
            </div>
        </div>

        <div id="childDialog" title="New Appointment">
            <form class="registerliststyletwo" method="post" action="{% url 'appt_sub' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="registerblock">Start Time:
                    <div><input id="starttime" type="datetime-local" name="start">
                    </div>
                </ul>
                <ul class="registerblock">End Time:
                    <div><input id="endtime" type="datetime-local" name="end">
                    </div>
                </ul>
                <ul class="registerblock">RCSP Case Number:
                    <div><input type="text" name="title">
                    </div>
                </ul>
                <ul class="registerblock">Additional Comments:
                    <div><input type="text" name="note">
                    </div>
                </ul>
                <div>
                    <br>
                    <br>
                    <button class="registerbutton" type="submit">Save</button>
                </div>
            </form>
        </div>

    </div>

    {#    <div id="dialogtwo" title="Select a Time">#}
    {#        <div id="columnthree">#}
    {#            #}
    {#        </div>#}
    {#    </div>#}
    </body>
{% endblock %}

{#id="dialogtwo" title="Enter Appointment Information"#}

{#how to click on a jquery ui selectable#}