{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<div>
    <ul class="blocks">
        <li class="dayrow">Sunday</li>
        <li class="dayrow">Monday</li>
        <li class="dayrow">Tuesday</li>
        <li class="dayrow">Wednesday</li>
        <li class="dayrow">Thursday</li>
        <li class="dayrow">Friday</li>
        <li class="dayrow">Saturday</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
        <li class="rowone">Date</li>
    </ul>
</div>
<div id="dialog" title="This is a Test Box">
    <p>Woohoo!  This worked!!</p>
</div>
</body>
{% endblock %}