{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    <div class="wholecalendar">
        {{ calendar|safe }}
    </div>
    <div class="dialog" id="dialog" title="Schedule an Appointment">
        <div id="dialogback">
            <div>
                {% for t in times %}
                    <div id="rowtwo" class="rowtwo">{{ t }}</div>
                {% endfor %}
            </div>
            <div id="columnthree">
                {% for hr in h %}
                    {% for min in m %}
                        <div id="rowthree" class="rowthree" data-time="{{ hr }}{{ min }}" title="Enter an Appointment"></div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{#id="dialogtwo" title="Enter Appointment Information"#}

{#how to click on a jquery ui selectable#}