{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<article>
    <form class="registerliststyle" method="post">
        {% csrf_token %}
        <ul class="registerblock">Enter Your Username:
            <div>{{ form.username }}
            </div>
        </ul>
        <ul class="registerblock">Enter Your Password:
            <div>{{ form.password }}
            </div>
        </ul>
        <div>
            <br>
            <br>
            <button class="registerbutton" type="submit">Login</button>
        </div>
    </form>
</article>

{% endblock %}
