table.month {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    /*position: absolute;*/
}

/*.tr > th {*/
/*display: flex;*/
/*padding: 10px;*/
/*margin: 10px;*/
/*}*/

.dayrow {
    list-style-type: none;
    flex-direction: row;
    height: 25px;
    width: 100px;
    margin: 2px;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: #bf402a;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.mon, .wed {
    list-style-type: none;
    flex-direction: row;
    height: 100px;
    width: 125px;
    margin: 2px;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .5px solid;
    color: #bf402a;
    text-align: center;
    cursor: pointer;
}

.mon:hover {
    background: #bf402a;
    border: .5px solid #bf402a;
    color: whitesmoke;
    transition-duration: 1.0s;
}

.tue {
    list-style-type: none;
    flex-direction: row;
    height: 100px;
    width: 125px;
    margin: 10px;
    /*position: absolute;*/
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .5px solid;
    color: #bf402a;
    text-align: center;
    cursor: pointer;
}

.tue:hover {
    background: #bf402a;
    border: .5px solid #bf402a;
    color: whitesmoke;
    transition-duration: 1.0s;
}

.wed {
    list-style-type: none;
    flex-direction: row;
    height: 100px;
    width: 125px;
    margin: 10px;
    /*position: absolute;*/
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .5px solid;
    color: #bf402a;
    text-align: center;
    cursor: pointer;
}

.wed:hover {
    background: #bf402a;
    border: .5px solid #bf402a;
    color: whitesmoke;
    transition-duration: 1.0s;
}

.thu {
    list-style-type: none;
    flex-direction: row;
    height: 100px;
    width: 125px;
    margin: 10px;
    /*position: absolute;*/
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .5px solid;
    color: #bf402a;
    text-align: center;
    cursor: pointer;
}

.thu:hover {
    background: #bf402a;
    border: .5px solid #bf402a;
    color: whitesmoke;
    transition-duration: 1.0s;
}

.fri {
    list-style-type: none;
    flex-direction: row;
    height: 100px;
    width: 125px;
    margin: 10px;
    /*position: absolute;*/
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .5px solid;
    color: #bf402a;
    text-align: center;
    cursor: pointer;
}

.fri:hover {
    background: #bf402a;
    border: .5px solid #bf402a;
    color: whitesmoke;
    transition-duration: 1.0s;
}

.sat {
    list-style-type: none;
    flex-direction: row;
    height: 100px;
    width: 125px;
    margin: 10px;
    /*position: absolute;*/
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .5px solid;
    color: #bf402a;
    text-align: center;
    cursor: pointer;
}

.sat:hover {
    background: #bf402a;
    border: .5px solid #bf402a;
    color: whitesmoke;
    transition-duration: 1.0s;
}

.sun {
    list-style-type: none;
    flex-direction: row;
    height: 100px;
    width: 125px;
    margin: 10px;
    /*position: absolute;*/
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .5px solid;
    color: #bf402a;
    text-align: center;
    cursor: pointer;
}

.sun:hover {
    background: #bf402a;
    border: .5px solid #bf402a;
    color: whitesmoke;
    transition-duration: 1.0s;
}

.dialog {
    background: whitesmoke;
    width: 650px;
}

#dialogtwo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rowtwo {
    width: 100px;
    height: 106px;
    list-style-type: none;
    /*flex-direction: column;*/
    margin: 0px;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 1px;
    /*border-right: 2px solid;*/
    border: 1px solid;
    color: #bf402a;
    text-align: left;
}

.rowthree, .rowthree-booked {
    width: 350px;
    height: 25px;
    list-style-type: none;
    /*flex-direction: column;*/
    margin: 0px;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 1px;
    /*border-right: 2px solid;*/
    border: 1px solid;
    color: #bf402a;
    float: left;
    cursor: pointer;
}

/*#columnthree .booked {*/
    /*background: #F39814;*/
    /*color: white;*/
/*}*/

.booked {
    background: #774c0d;
    color: white;
}

