.registerliststyle {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #43526c;
    width: 880px;
    height: 400px;
}

.registerblock {
    margin: 10px;
    color: whitesmoke;
}

.registerliststyletwo {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #43526c;
    width: 500px;
    height: 500px;
}

.registerbutton {
    background-color: #8797af;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    color: whitesmoke;
    margin-left: 50px;
}